//- module
.section.section-contribute.bg-light.text-dark: .inner
  .text-center: h2 Join our open source community.
  p Cofacts needs all of you to help our current program to be more efficient and complete. This collaborate program cannot be completed by a small community, we need everyone to contribute, write codes, bust hoaxes and research. Self-motivated researching and responding is the way to transcend this program into something great.
  p We welcome everyone to join us, here is what we’re looking for.
  ul
    li People with curiosity and a sense of justice that can help us bust hoaxes and help others.
    li Coding is a piece of cake to you? Join us fast and work together with us on our issues.
  br
  .text-center
    a(href="https://hackmd.io/s/Bk06LhrxG").btn.btn-secondary.btn-lg.mr-2 I want to learn how to use Cofacts #[i.fa.fa-user-plus]
    a(href="https://hackmd.io/s/SyMRyrfEl").btn.btn-secondary.btn-lg.mr-2 I can help bust hoaxes #[i.fa.fa-pencil-square-o]
    a(href="https://hackmd.io/s/r1nfwTrgM").btn.btn-secondary.btn-lg.mr-2 I can help with coding #[i.fa.fa-code]

