//- module
.section.section-contribute.bg-light.text-dark: .inner
  .text-center: h2 一起來開源
  p Cofacts 需要大家一起來幫忙讓目前的專案做得更好更完整。協作專案無法由少數人來完成，我們需要每一個人都一起付出、寫程式、闢謠、仔細研究查資料，自發性的查證與寫回應才能成就背後龐大的資料庫。
  p 這裡列出我們需要的協助，歡迎每一個朋友加入我們。
  ul
    li 有好奇心、有正義感，就能查詢資料協助闢謠，幫助身邊的人。
    li 寫程式難不倒你嗎？快快來幫助我們一起解issue。
  br
  .text-center
    .btn.btn-secondary.btn-lg.mr-2 我想學用「真的假的」 #[i.fa.fa-user-plus]
    .btn.btn-secondary.btn-lg.mr-2 我可以闢謠 #[i.fa.fa-pencil-square-o]
    .btn.btn-secondary.btn-lg.mr-2 我會寫 Code #[i.fa.fa-code]

