//- module
.section.section-why.bg-light: .inner
  .text-center: h2 Write your own response and share your wisdom!
  p The responses a user see are also submitted by other users. Here we do not have all-knowing judges, only citizens who cooperate and contribute. Think others’ response not good enough? Is there something you’d like to find out but it has not been requested yet? Write your own response and help others!
  p Every suspicious source is sent from an user, which is open to public for examination and response. One single request can be responded by different people, allowing each response to take a step closer to unravelling its truth.
  p.text-center
    a(href="/articles").btn.btn-secondary.btn-lg.mr-2 HOAX SEARCH #[i.fa.fa-database]
