//- module
.section.section-why.bg-light: .inner
  .text-center: h2 自己的回應自己寫
  p 使用者所看到的回應，是由其他同樣是使用者的人所寫出來的喔。我們沒有全知全能的判斷者，只有互相貢獻的公民協作。覺得別人的回應回得不夠好嗎？你想知道的事情還沒有人查證過嗎？自己寫出新回應，一起幫助更多人。
  p 資料庫裡每一則可疑的轉傳文章都是來自某位使用者，公開檢索，讓你查證後給予回應。一則文章也可以有不同人分別給予各自的回應，讓新的回應比舊的回應更好。
  p.text-center
    a.btn.btn-secondary.btn-lg.mr-2 謠言資料庫檢索 #[i.fa.fa-database]
