//- module
.section.section-why.bg-light: .inner
  .text-center: h2 Write your own response.
  p The response users see is also submitted by other users. Here we do not have all-knowing judges, only citizens who cooperate and contribute. Thinking others’ respond not good enough? There’s something you’d like to find out but it has not been requested yet? Write your own response and help others!
  p Every suspicious source request is sent from some user,  which is open to public for examination and response. One single request can also be responded by different people, let the new response better than old ones.  p.text-center
    a(href="/articles").btn.btn-secondary.btn-lg.mr-2 HOAX SEARCH #[i.fa.fa-database]
