//- module
.jumbotron.text-light
  .text-center
    h1.mb-2 Are you aware that<span id="short-name">your mom</span>is<em class="emphasis">helping the spread of</em>internet hoaxes?
    div(style="border-bottom:1px solid rgba(255,255,255,0.3);margin:20px")
    p Follow our LINE bot or join as one of our Cofacts editor.<br>Local<span id="long-name">moms</span>need your protection!
    br
    a.btn.btn-danger.btn-lg(style="width:280px" href="/articles") Start busting hoaxes now

script.
  var randomCharacters = [
    {short: 'your mom', long: 'moms'},
    {short: 'your dad', long: 'dads'},
    {short: 'your sister', long: 'sis'},
    {short: 'your sister', long: 'sis'},
    {short: 'your brother', long: 'bro},
    {short: 'your brother', long: 'bro'},
    {short: 'your colleague', long: 'colleagues'},
    {short: 'your child', long: 'children'},
  ];
  var chosenCharacter = randomCharacters[Math.floor(Math.random()*randomCharacters.length)];
  document.getElementById('short-name').innerHTML = chosenCharacter.short;
  document.getElementById('long-name').innerHTML = chosenCharacter.long;
