//- module
.section.bg-warning.section-what: .inner
  .row
    .col-md
      h4 開 LINE 加好友，謠言隨手查!
      .sep.light-dark.gap-sm
      p 右邊要放一個 LINE 的手機圖，然後這裡應該要有加入好友的說明以及 QR Code
      a(href="#"): small 了解更多的按鈕 #[i.fa.fa-arrow-right]
    .col-md: .media-preview(style="background:url(/static/img/shaq.gif) center center no-repeat #444;background-size:cover")
