//- module
.section.bg-warning.section-what: .inner
  .row
    .col-md-8
      h4 開 LINE 加好友，謠言隨手查!
      .sep.light-dark.gap-sm
      p id 搜尋 @cofacts 或是掃描 QR Code 成為真的假的 Cofacts 的 LINE 好友後，轉傳可疑的謠言訊息給他，就可以讓機器人幫你查謠言囉！
      p: a(href="https://hackmd.io/s/Bk06LhrxG" target="_blank"): small 使用教學 #[i.fa.fa-arrow-right]
      p: img(src="/static/img/qr-code.png")

    .col-md-4.phone-container
      img.phone(src="/static/img/phone.png" alt="手機")
