//- module
nav.navbar.navbar-expand-lg.navbar-dark.fixed-top
  a.navbar-brand(href="/") Cofacts
  button.navbar-toggler(type="button",data-toggle="collapse",data-target="#navbarSupportedContent")
    span.navbar-toggler-icon
  .collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item.active: a.nav-link(href="/articles") HOAX SEARCH
      li.nav-item.active: a.nav-link(href="/replies") RESPONSE LIST
      li.nav-item.active: a.nav-link(href="https://www.facebook.com/groups/cofacts/permalink/1959641497601003/") Facebook
      li.nav-item.active: a.nav-link(href="https://beta.hackfoldr.org/cofacts") Hackfoldr

