//- module
.section.section-traction.bg-danger.text-light: .inner.text-center
  h2 謠言與回應的追逐戰
  p 這是我們目前在面對的事情
  .sep(style="border-bottom:1px solid rgba(255,255,255,0.6);margin:40px auto;width:150px")
  .row
    .col-6.col-md-3 #[.huge 5] 則文章每日更新
    .col-6.col-md-3 #[.huge 9] 個使用者每日上線闢謠
    .col-6.col-md-3 #[.huge 33] 個使用者等待回應
    .col-6.col-md-3 #[.huge 2] 個新朋友們

