//- module
.section.section-trivia: .inner
  .text-center: h2 Cofacts 特色
  p 上面是系統簡表，下面是特點，EX: 「群眾協作」- 不喜歡現有的，就自己寫一份！，「好上手」- LINE bot、「平台化」- 幫助內容產製者與原文連結、「開源」- 會議記錄、文件大公開，隨意取用，讓自架闢謠站遍地開花
  br
  .row
    each item in [["Runtime","birthday-cake"],["Redis","bus"],["Scale","camera"],["Add-ons","calculator"],["Storage","bullhorn"],["AI","check-circle"],["Extensibility","cloud"],["Github","binoculars"]]
      .col-6.col-md-3
        .media
          i.fa.mr-2.mt-1(class="fa-" + item[1])
          .media-body
            span.name: b #{item[0]}
            p(style="line-height:1.4em;font-size:0.6em;color:#444") 可以簡單介紹一下 #{item[0]}，長度不拘但各項間可以對齊。

