//- module
.section.section-contribute.bg-light.text-dark: .inner
  .text-center: h2 Join our open source community.
  p Cofacts needs all of you to help our current program to be more efficient and complete. This collaborate program cannot be completed by a small community, we need everyone to contribute, write codes, bust hoaxes and research. Self-motivated researching and responding is the way to transcend this program into something great.
  p We welcome everyone to join us, here is what we’re looking for.
  ul
    li People with curiosity and a sense of justice that can help us bust hoaxes and help others.
    li Coding is a piece of cake to you? Join us fast and work together with us on our issues.
  br
  .text-center
    a(href="https://hackmd.io/@B4gs1CECTRyI5Ny7vSy6dQ/SklM4dV9m/https%3A%2F%2Fg0v.hackmd.io%2FWaz-B9sORSOPLp6nAOS82w?type=book&fbclid=IwAR0pNUVLOllNTgoPE8dxbJSt8VCvIeCK_h0MszfAS2aiUFLj3XFfTfKXM4Q").btn.btn-secondary.btn-lg.mr-2 I want to learn how to use Cofacts #[i.fa.fa-user-plus]
    a(href="https://hackmd.io/s/SyMRyrfEl").btn.btn-secondary.btn-lg.mr-2 I can help bust hoaxes #[i.fa.fa-pencil-square-o]
    a(href="https://hackmd.io/s/r1nfwTrgM").btn.btn-secondary.btn-lg.mr-2 I can help with coding #[i.fa.fa-code]

