//- module
.section.section-footer.bg-dark.text-light: .inner
  .row
    .col-12.col-md-8
      .row
        .col-6.col-md-4
          label Cofacts
          .item: a(href="https://beta.hackfoldr.org/cofacts") Program Introduction
          .item: a(href="https://grants.g0v.tw/projects/588fa7b382223f001e022944") Original Program
          .item: a(href="https://github.com/cofacts") Source code
          .item: a(href="https://www.facebook.com/groups/cofacts/") Facebook Club
          .item: a(href="mailto:cofacts@googlegroups.com") Contact
        .col-6.col-md-4
          label Notices
          .item: a(href="https://beta.hackfoldr.org/cofacts/https%253A%252F%252Fhackmd.io%252Fs%252FryE0G6rxG") Cofacts Copyrights

    .col-12.col-md-4.text-center
      img(src="/static/img/g0v-bg-dark.svg",style="width:100px")
      div powered by g0v
