//- module
.section.bg-warning.section-line: .inner
  .content
    h4 Follow our LINE@, and send any suspected hoax, scam, rumor, or urban legend to verify its truth.
    .sep.light-dark.gap-sm
    p Search by ID “@cofacts” or scan our QR Code to follow our Cofacts LINE@ account, forward any possible hoax, scam, rumor, or urban legend sources to it, then our chatbot will help you check the credibility of the source!
    p: a(href="https://g0v.hackmd.io/s/rkVVQDmqQ" target="_blank"): small TUTORIAL #[i.fa.fa-arrow-right]
    p: img(src="/static/img/qr-code.png")

  .phone-container
    .phone-img
      video(poster="/static/img/recording-still.gif" src="/static/img/recording.mp4" autoplay loop muted)
