//- module
.section.section-trivia: .inner
  .text-center: h2 Features
  p Cofacts program encourages people to become part of a chatbot for helping others. With your research, you can add your hoax busting responses into our database to help people acknowledge its lies.
  br
  .row
    .col-6.col-md-3
      .media
        i.fa.mr-2.mt-1(class="fa-cube")
        .media-body
          span.name: b Crowdsourcing
          p(style="line-height:1.4em;font-size:0.6em;color:#444") Anyone can verify and respond to other’s requests on possible hoax and upload it into our database. We encourage citizens to join our program, even invite your mom and dad to join.
    .col-6.col-md-3
      .media
        i.fa.mr-2.mt-1(class="fa-cube")
        .media-body
          span.name: b Real-Time Response
          p(style="line-height:1.4em;font-size:0.6em;color:#444") Once someone respond to your pending request, the chatbot will answer you through LINE. It’s fast and immediate, you don’t even have to wait. Better yet, you don’t even need to say ‘thank you’. Ask the bot to verify for you, no need to feel uncomfortable asking it for favors.
    .col-6.col-md-3
      .media
        i.fa.mr-2.mt-1(class="fa-cube")
        .media-body
          span.name: b Different Views
          p(style="line-height:1.4em;font-size:0.6em;color:#444") Knowing what’s fact and what’s an opinion. Seeing different sides of the story makes you realize your own blindspot, allowing everyone to respect each other’s perspectives.
    .col-6.col-md-3
      .media
        i.fa.mr-2.mt-1(class="fa-cube")
        .media-body
          span.name: b Open Source Authorization
          p(style="line-height:1.4em;font-size:0.6em;color:#444") Codes of different patches, meeting records and database statistics are all opened to public. We encourage more open source data; work and share with others in a transparent environment, create different possibilities.
